# Python/Django General
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
UDLP-venv/
venv/
ENV/
env.bak/
venv.bak/

# Django Specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Static and Collected Files
/static/
/collected_static/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Miscellaneous
*.swp
*~
*.bak
*.tmp
